<header class="bg-white ">
    <div class="px-10  py-6 flex items-center  justify-between">
        <div class="">
            <img src="assets/images/logo.png" class="h-20" alt="">
            
        </div>
        <div class="">
            
                <ul class="flex gap-8 text-lg font-medium">
                    <a href="" class="flex justify-between "><li class="flex gap-2 items-center">Why project<span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                      </svg>
                      </span></li></a>
                    <a href=""><li>Solutions</li></a>
                    <a href=""><li>Princing</li></a>
                    <a href=""><li>Resources</li></a>
                    
                </ul>
           
    
        </div>
        <div class="flex gap-4 pr-10">
            <a href="signin"><button>sign in</button></a>
           <a href="register"><button>sign up</button></a> 
        </div>
    </div>

</header>
