<section>

    <div>
        <app-header></app-header>
    </div>
    <div class="flex pr-20 px-20">
        <div class="flex-grow">
            <div class="">
                <div class="">
                    <h1 class="text-5xl font-bold">Project management software loved by..</h1>
                    <h1 class="text-primary font-bold text-5xl py-10">Start-up Team<span class="text-black">|</span></h1>
                </div>
                <div>
                    <h3 class="text-gray-400 font-normal text-2xl">Trusted by over 400+ companies    </h3>
                </div>
                <div class="py-4">
                    <ul>
                        <li class="flex gap-2 py-2"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>
                          </span>Simple to use,powerful when you need it</li>
                        <li class="flex gap-2 py-2"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>
                          </span>manage Multiple complex projects with</li>
                        <li class="flex gap-2 py-2"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                          </svg>
                          </span>Scales into a full platform</li>
                    </ul>

                </div>
                </div>

        </div>
        <div class="md:block mt-8 md:mt-0">
            
            <img src="assets/images/home.png" class="mx-auto md:mx-0 max-w-full h-auto" alt="Home Image"/>
        </div>

    </div>
    <div class="flex items-center justify-center py-10">
        <div class="text-center">
            <h1 class="text-2xl text-gray-500">Trusted by 400+ great companies worldwide</h1>
            <div class="mt-4 py-6">
                <ul class="flex gap-10">
                    <li><img src="assets/images/airbnd.png" alt=""></li>
                    <li><img src="assets/images/amazon.png" alt=""></li>
                    <li><img src="assets/images/asana.png" alt=""></li>
                    <li><img src="assets/images/google.png" alt=""></li>
                    <li><img src="assets/images/shopify.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    
   

</section>

